{% extends "base.html" %}

{% block content %}

<div id="ask_form">
<form action="/ask_question" method='post'>
	{% csrf_token %}
	<div>
		<span class="form-label">Title</span>
		<input id="question_title" type="text" name="title"
			placeholder="What is your question? Be specific." />
	</div>
	<div id="question_area">
		<textarea id="question_textarea" name="content" ></textarea>
	</div>
	
	<div id="question_tags_area">
		<div class="form-label">Tags</div>
		<div>Separate tags with spaces</div>
		<input id="question_tags" type="text" name="tags" 
			placeholder="You need at least one tag like 'karel'"/>
	</div>
	
	<div class="ask-form-submit">
		<input id="question_submit" type="submit" value="Submit Question">
	</div>
	
</form>
</div>
{% endblock %}
