{% extends "base.html" %}

{% block content %}

<div class="success">
	On this site, you can ask questions about your class, homework, or logistics, but can not give any information away about specific parts of the code. Code is generally not allowed, except for asking questions about syntax. Questions will be moderated to make sure they are appropriate to be posted.
</div>


{% if error %}
<div class="error">{{ error }}</div>
{% endif %}

<div class="answer-title">
	You are submitting to hut 
	<span class="hutname">{{hut.title}}</span>
	{% if not hut.public %}
	<span class="private">This hut is private</span>
	{% else %}
	<span class="public">This hut is public</span>	
	{% endif %}

</div>

<div id="ask_form">
<form action="/ask_question" method='post'>
	{% csrf_token %}
	<div>
		<span class="form-label">Title</span>
		<input id="question_title" type="text" name="title"
			placeholder="What is your question? Be specific." 
			{% if title %}value="{{title}}"{% endif %}			
			/>
	</div>
	<div id="question_area">
		{% if content %}
		<textarea id="question_textarea" name="content" >{{ content}}</textarea>
		{% else %}
		<textarea id="question_textarea" name="content" ></textarea>
		{% endif %}
	</div>
	
	<div id="question_tags_area">
		<div class="form-label">Tags</div>
		<div>Separate tags with spaces. You can tag the assignment, like simple-java.</div>
		<input id="question_tags" type="text" name="tags" 
			placeholder="You need at least one tag like 'karel' or 'simple-java'"/>
	</div>
	
	<input type="hidden" name="hut" value="{{hut.slug}}" />
	
	<div class="ask-form-submit">
		<input id="question_submit" type="submit" value="Submit Question">
	</div>
	
	<div class="preview-title">
	<h2>Live Preview</h2>
	<h4>Formatted preview below, using <a href="http://github.github.com/github-flavored-markdown/">Github Flavored Markdown</a></h4>
	
	</div>
	
	<div id="live_preview" class="showdown">
	</div>
	
</form>
</div>
{% endblock %}
