<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	
	<head>
		<title>
			{% block title %}
				discussT - question answer for classes
			{% endblock %}
		</title>
		
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script> 
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
		
		<script type="text/javascript" src="/static/js/all.js"></script>
		
		{% load all_tags %}
		<script type="text/javascript">
		DEBUG_ON = {% debug_js %}; 
		</script>
	</head>
	
	<body>
		<div id="header">
			<a href="/">discussT</a>
			<a href="/ask">ask a question</a>
			<a href="/">questions</a>
		</div>
		
		{% block content %}
		
		{% endblock %}
		
	</body>


</html>
