<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	
	<head>
		<title>
			{% block title %}
				QuestionHut - question answer for classes
			{% endblock %}
		</title>
		
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script> 
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
		
		{% load all_tags %}
		<script type="text/javascript">
		DEBUG_ON = {% debug_js %}; 
		</script>
		<script type="text/javascript" src="/static/js/all.js"></script>
		
		<link type="text/css" href="/static/css/all.css" rel="stylesheet"/>
	</head>
	
	<body>
		<div id="header">
			<div id="logo">
				<a href="/">QuestionHut</a>
			</div>
			{% if user.is_authenticated %}
			<div id="user">
				<span>
					Hello, {{ user.first_name }} {{ user.last_name }}
				</span>

				<a href="/logout">Logout</a>
				
				<a href="mailto:jkeeshin@stanford.edu">Feedback</a>
			</div>
			
			<div id="menu">
				<ul>
					<li class="link">
						<a href="/ask">Ask a Question</a>
					</li>
					<li class="link">
						<a href="/">Questions</a>
					</li>
					
					{% if user.get_profile.is_moderator %}
					<li class="link">
						<a href="/moderate">Moderate</a>
					</li>
					{% endif %}


					<li class="searchli">
						<form method="GET" action="/search">
							<input type="text" name="q" placeholder="Search" class="search-box" />
						</form>
					</li>

				</ul>
				
				
			</div>
			

			{% endif %}
		</div>
		
		<div id="content">
		{% block content %}
		
		{% endblock %}
		</div>
		
	</body>


</html>
