<div class="comment-list">
	{% for comment in obj.get_comments %}
		{% include "comment.html" %}
	{% endfor %}
	
	<form method="POST" action="/submit_comment">
		{% csrf_token %}
		<textarea class="comment-textarea" placeholder="Comment on this {{kind_str}}." name="content"></textarea>
		<input type="hidden" name="kind" value="{{kind}}" />
		<input type="hidden" name="obj_id" value="{{obj.id}}" />
		<input type="hidden" name="redirect" value="{{question.id}}">
		<input type="submit" value="Submit" />
	</form>
</div>