{% extends "base.html" %}

{% block content %}

<div class="page-title">FAQ</div>

<div class="faq-question">
What kind of questions should I ask here?
</div>

<div class="faq-answer">
On this site, you can ask questions about your class, homework, or logistics. You can ask questions about material you were confused about in lecture, or clarifications on the assignment. Most of the questions you have someone else will have as well. Asking questions will benefit the rest of the class.
</div>


<div class="faq-question">
What kind of questions should I not ask here?
</div>


<div class="faq-answer">
You should not give any information away about specific parts of your code. Code is generally not allowed, except for asking questions about syntax. Questions will be moderated to make sure they are appropriate to be posted. You shouldn't ask questions where you just ask someone to give you the answer. You should show that you have put in effort before asking.
</div>


<div class="faq-question">
Is this a Stack Overflow clone?
</div>


<div class="faq-answer">
Yes, this is a Stack Overflow clone. They do lots of things right in terms of building a question and answer website. If you've been on Stack Overflow, you know the one type of questions they really don't like is homework questions. But that's what this is for. It's a question answer site for your classes.
</div>

<div class="faq-question">
What is reputation?
</div>


<div class="faq-answer">
Reputation is the number next to your name, and it is how much you have contributed to the community. The way to get reputation is by writing questions and answers that other people like.

<div class="faq-tabbed">answer is voted up	 +10</div>	
<div class="faq-tabbed">question is voted up	 +5	</div>
<div class="faq-tabbed">answer is accepted	 +15	 (+2 to acceptor)</div>
<div class="faq-tabbed">question is voted down	 -2	</div>
<div class="faq-tabbed">answer is voted down	 -2	 (-1 to voter)</div>

</div>


<div class="faq-question">
Can I give you suggestions on how to improve this site?
</div>


<div class="faq-answer">
Yes, you should join the "Meta Hut" for that. Go to <a href="/huts">My Huts</a> and click join.
</div>


{% endblock %}
