{% extends "base.html" %}

{% block content %}


{% if message %}
<div class="notice">
{{ message }}
</div>
{% endif %}

<h1>My Huts</h1>

{% for hut in huts %}
<div class="hut">
	<a href="/questions?hut={{hut.slug}}">{{ hut.title }}</a>
	
	<a class="hut-status" href="#" data-drop="{{hut.id}}">Drop</a>
</div>
{% endfor %}

{% if huts|length == 0 %}
<div>
	You aren't in any huts yet! Join a hut below.
</div>
{% endif %}


<div class="spacer"></div>

<h1>Join a Hut</h1>

{% for hut in other %}
<div class="hut">
	<a class="#">{{hut.title|upper}}</a>
	<a class="hut-status" href="#" data-join="{{hut.id}}">Join</a>
</div>
{% endfor %}

{% if other|length == 0 %}
<div>
	There are no more huts to join!
</div>
{% endif %}





{% endblock %}