{% extends "base.html" %}

{% block content %}
<div>
	Hello, {{ user.first_name }} {{ user.last_name }}
</div>

<a href="/logout">Logout</a>

{% for question in questions %}
	<div class="question-item">
		<div class="question-info">
			<div class="votes">
				<div class="counts">
					{{ question.votes }}
				</div>
				<div>votes</div>
			</div>
			
			<div class="answers">
				<div class="counts">
					{{ question.answers.all|length }}
				</div>
				<div>answers</div>
			</div>
			
			<div class="views">
				<div class="counts">
					{{ question.views }}
				</div>
				<div>views</div>
			</div>
			
			
		</div>
	
		<div class="question-summary">
			<div>
				<a href="/question/{{question.id}}">{{ question.title }}</a>
			</div>
			
			<span class="tags">
			</span>
			
			<span class="question-time">
				{{ question.created_at|timesince }} ago
			</span>
			
			<span class="question-author">
				{{ question.author }}
			</span>
				
		</div>
		
	</div>
{% endfor %}


{% endblock %}