{% extends "base.html" %}

{% block content %}

{% for question in questions %}
	<div class="question-item">
		<div class="question-info cp"
			onclick="window.location.href='/question/{{question.id}}'">
			<div class="votes">
				<div class="counts">
					{{ question.votes }}
				</div>
				<div>votes</div>
			</div>
			
			
			<div class="answers
				{% if question.answers.all|length > 0 %}
					answered
				{% else %}
					unanswered
				{% endif %}">
				<div class="counts">
					{{ question.answers.all|length }}
				</div>
				<div>answers</div>
			</div>
			
			<div class="views">
				<div class="counts">
					{{ question.views }}
				</div>
				<div>views</div>
			</div>
			
			
		</div>
	
		<div class="question-summary">
			<h3>
				<a href="/question/{{question.id}}">{{ question.title }}</a>
			</h3>
			
			<span class="tags">
				{% for tag in question.tags.all %}
					<a href="#">{{ tag.title }}</a>
				{% endfor %}
			</span>
			
			<span class="question-time">
				{{ question.created_at|timesince }} ago
			</span>
			
			<span class="question-author">
				{{ question.author }}
			</span>
				
		</div>
		
	</div>
{% endfor %}


{% endblock %}