{% extends "base.html" %}

{% block content %}
<script type='text/javascript'>
var INFINITE_SCROLL = true;
</script>

{% if message %}
<div class="notice">
{{ message }}
</div>
{% endif %}


<div id="tabs_container">
	<h2>Hut: {{ hut.title }}</h2>
	
	{% if hut != 'all' %}
	<h2 class="user-link"><a href="/users?hut={{hut}}">Users</a></h2>
	{% endif %}

	<div id="sort_tabs">
		<a href="/questions?hut={{hut}}&amp;time={{time}}&amp;sort=recent" 
		{% if sort == 'recent' %}class="selected "{% endif %}>Recent</a>
		<a href="/questions?hut={{hut}}&amp;time={{time}}&amp;sort=best"
		{% if sort == 'best' %}class="selected "{% endif %}>Best</a>
		<a href="/questions?hut={{hut}}&amp;time={{time}}&amp;sort=popular"
		{% if sort == 'popular' %}class="selected "{% endif %}>Popular</a>
	</div>
</div>


	
<div id="all_questions">
{% for question in questions %}
	<div class="question-item">
		<div class="question-info cp"
			onclick="window.location.href='/question/{{question.id}}'">
			<div class="votes">
				<div class="counts">
					{{ question.votes }}
				</div>
				<div>votes</div>
			</div>
			
			
			<div class="answers
				{% if question.answers.all|length > 0 %}
				
				{% if question.answered %}
					answered-accepted
				{% else %}
					answered
				{% endif %}
					
				{% else %}
					unanswered
				{% endif %}">
				<div class="counts">
					{{ question.get_answer_count }}
				</div>
				<div>answers</div>
			</div>
			
			<div class="views">
				<div class="counts">
					{{ question.views }}
				</div>
				<div>views</div>
			</div>
			
			
		</div>
	
		<div class="question-summary">
			<h3>
				<a href="/question/{{question.id}}">{{ question.title }}</a>
			</h3>
			
			{% load all_tags %}
			<span class="tags">
				{% for tag in question.tags.all %}
					<a href="/questions?hut={{hut}}&amp;tags={{tag.title}}" class="tag">{{ tag.title }}</a>
				{% endfor %}
			</span>
			
			<div class="started">
				<span class="question-time">
				
					{% format_time question.last_updated %}
				</span>
			
				<span class="question-author">
					{{ question.author }}
				</span>
			</div>
			

		</div>
		
		{% if not question.course.public %}
		<div class="question-locked">
			<img src="/static/images/lock.png" title="This is a question in a private hut"/>
		</div>
		{% endif %}
		
	</div>
{% endfor %}
</div>

<div id="sidebar">
	<div id="time_tabs">
		<a href="/questions?hut={{hut}}&amp;sort={{sort}}&amp;time=today" 
		{% if time == 'today' %}class="selected "{% endif %}>Today</a>
		<a href="/questions?hut={{hut}}&amp;sort={{sort}}&amp;time=week" 
		{% if time == 'week' %}class="selected "{% endif %}>This Week</a>
		<a href="/questions?hut={{hut}}&amp;sort={{sort}}&amp;time=month" 
		{% if time == 'month' %}class="selected "{% endif %}>This Month</a>
		<a href="/questions?hut={{hut}}&amp;sort={{sort}}&amp;time=quarter" 
		{% if time == 'quarter' %}class="selected "{% endif %}>This Quarter</a>
		<a href="/questions?hut={{hut}}&amp;sort={{sort}}&amp;time=all" 
		{% if time == 'all' %}class="selected "{% endif %}>All Time</a>
	</div>

</div>

{% endblock %}