{% extends "base.html" %}

{% block content %}
{% if course %}
<h2>Moderate for: {{ course|upper }}</h2>
{% else %}
<h2>Choose Which Class You Want to Moderate</h2>
{% endif %}



<div id="tabs_container">
	
	{% load mod_tags %}
	<div id="class_tabs">
		
		{% for mcourse in moderator_courses %}
		<a href="/moderate?course={{mcourse}}"
		{% if mcourse.title == course %}class="selected"{% endif %}
		>{{mcourse|upper}} ({% mod_count mcourse %})</a>
		{% endfor %}
	</div>
</div>


{% if course %}

<h3 class="moderate">Questions To Moderate</h3>

{% if not questions %}
No more questions to moderate!
{% endif %}


<div class="moderate-container">
{% for question in questions %}
	<div class="question-item">
		<div class="question-moderate">
			<a href="#" class="approve" 
				data-id="{{question.id}}"
				data-action="approve"
				data-kind="Q">Approve</a>
			<a href="#" class="reject" 
				data-id="{{question.id}}"
				data-action="reject"
				data-kind="Q">Reject</a>
		</div>
	
		<div class="question-summary">
			<h3>
				<a href="/question/{{question.id}}">{{ question.title }}</a>
			</h3>
			
			<div class="question-content">
				{{ question.content }}
			</div>
			
			{% load all_tags %}
			<span class="tags">
				{% for tag in question.tags.all %}
					<a href="/tag/{{tag.title}}" class="tag">{{ tag.title }}</a>
				{% endfor %}
			</span>
			
			<div class="started">
				<span class="question-time">
				
					{% format_time question.created_at %}
				</span>
			
				<span class="question-author">
					{{ question.author }}
				</span>
			</div>
		</div>
		
	</div>
{% endfor %}
</div>





<h3 class="moderate">Answers To Moderate</h3>

{% if not answers %}
No more answers to moderate!
{% endif %}

<div class="moderate-container">

{% for answer in answers %}
	<div class="question-item">
		<div class="question-moderate">
			<a href="#" class="approve" 
				data-id="{{answer.id}}"
				data-action="approve"
				data-kind="A">Approve</a>
			<a href="#" class="reject" 
				data-id="{{answer.id}}"
				data-action="reject"
				data-kind="A">Reject</a>
		</div>
	
		<div class="question-summary">			
			<div class="question-content">
				{{ answer.content }}
			</div>
						
			<div class="started">
				<span class="question-time">
				
					{% format_time answer.created_at %}
				</span>
			
				<span class="question-author">
					{{ answer.author }}
				</span>
			</div>
		</div>
		
	</div>
{% endfor %}
</div>

{% endif %}


{% endblock %}