{% extends "base.html" %}

{% block content %}
<h2>Moderate Questions for: {{ course|upper }}</h2>

<div id="all_questions">
{% for question in questions %}
	<div class="question-item">
		<div class="question-moderate">
			<a href="#" class="approve" 
				data-id="{{question.id}}"
				data-action="approve">Approve</a>
			<a href="#" class="reject" 
				data-id="{{question.id}}"
				data-action="reject">Reject</a>
		</div>
	
		<div class="question-summary">
			<h3>
				<a href="/question/{{question.id}}">{{ question.title }}</a>
			</h3>
			
			{% load all_tags %}
			<span class="tags">
				{% for tag in question.tags.all %}
					<a href="/tag/{{tag.title}}" class="tag">{{ tag.title }}</a>
				{% endfor %}
			</span>
			
			<div class="started">
				<span class="question-time">
				
					{% format_time question.created_at %}
				</span>
			
				<span class="question-author">
					{{ question.author }}
				</span>
			</div>
		</div>
		
	</div>
{% endfor %}
</div>


{% endblock %}