{% extends "base.html" %}

{% block content %}
<div class="clear"></div>

{% if message %}
<div class="notice">
{{ message }}
</div>
{% endif %}

{% if user.is_authenticated %}
<div class="success">
If you find a question or answer that was helpful, vote it up.
</div>
{% endif %}

{% if question.author == user and not question.answered %}
<div class="success">
This is your question, and if any of the answers answered the question, please select it by clicking the check mark to let other people know what worked.
</div>
{% endif %}

<div id="question_title">
	<h1>
	{{ question.title }}
	{% if not question.course.public %}
	<img src="/static/images/lock.png" title="This is a question in a private hut" width="20px"/>
	{% endif %}
	</h1>
	

</div>

<div id="question_content">
	<div class="votes">
		{% with obj=question type='Q' %}
		{% include "votecell.html" %}
		{% endwith %}
	</div>
	<div class="text">
		<div class="main showdown">{{ question.content|urlize }}</div>
		<div class="tags">
			{% for tag in question.tags.all %}
				<a href="/questions?hut={{question.course.slug}}&amp;tags={{tag.title}}" class="tag">{{ tag.title }}</a>
			{% endfor %}
		</div>
		
		{% load all_tags %}
		<div class="user">
			<div class="time-asked">
				asked {% format_time question.created_at %}
			</div>
			
			{{ question.author.name }}{% if question.author.get_profile.bio|length > 1 %}, {{ question.author.get_profile.bio }}{% endif %}
			, <span class="box-points">{{ question.author.get_profile.points }}</span>
		</div>
	</div>
	<div class="clear"></div>

	{% with obj=question kind='Q' kind_str='question'  %}
	{% include "comment_list.html" %}
	{% endwith %}
</div>

<div id="answer_count">
	<h1>{{ answers|length }} Answers</h1>
</div>

{% for answer in answers %}

<div class="answer">
	<div class="votes">
		{% with obj=answer  type='A' %}
		{% include "votecell.html" %}
		{% endwith %}
	</div>

	<div class="text">
		<div class="main showdown">{{ answer.content|urlize }}</div>
		
		{% load all_tags %}
		<div class="user">
			<div class="time-asked">
				answered {% format_time answer.created_at %}
			</div>
			
			{{ answer.author.name }}{% if answer.author.get_profile.bio|length > 1 %}, {{ answer.author.get_profile.bio }}{% endif %}
			, <span class="box-points">{{ answer.author.get_profile.points }}</span>
		</div>
	</div>
	
	<div class="clear"></div>
	
	{% with obj=answer kind='A' kind_str='answer' %}
	{% include "comment_list.html" %}
	{% endwith %}
</div>	

{% endfor %}


{% if user.is_authenticated %}
<div id="your_answer">
	<h2>Your Answer</h2>
	<h4>Formatted preview below, using <a href="http://github.github.com/github-flavored-markdown/">Github Flavored Markdown</a></h4>
</div>
<div class="question-form">
<form action="/answer_question" method="post">
	{% csrf_token %}
	<textarea id="answer_area" name="answer"></textarea>
	<input type="hidden" name="question" value="{{question.id}}" />
	<div>	
		<input type="submit" value="Submit Answer" />
	</div>
</form>
</div>


<div class="preview-title">
<h2>Live Preview</h2>
</div>
<div id="live_preview" class="showdown">
</div>

{% endif %}





{% endblock %}