{% extends "base.html" %}

{% block content %}
<div class="clear"></div>

{% if message %}
<div class="notice">
{{ message }}
</div>
{% endif %}

<div id="question_title">
	<h1>
	{{ question.title }}
	</h1>
</div>

<div id="question_content">
	<div class="votes">
		{% with obj=question type='Q' %}
		{% include "votecell.html" %}
		{% endwith %}
	</div>
	<div class="text">
		<div class="main">
			{{ question.content }}
		</div>
		<div class="tags">
			{% for tag in question.tags.all %}
				<a href="/tag/{{tag.title}}" class="tag">{{ tag.title }}</a>
			{% endfor %}
		</div>
		
		{% load all_tags %}
		<div class="user">
			<div class="time-asked">
				asked {% format_time question.created_at %}
			</div>
			
			{{ question.author.name }}
		</div>
	</div>
</div>

<div id="answer_count">
	<h1>{{ answers|length }} Answers</h1>
</div>

{% for answer in answers %}

<div class="answer">
	<div class="votes">
		{% with obj=answer  type='A' %}
		{% include "votecell.html" %}
		{% endwith %}
	</div>

	<div class="text">
		<div class="main">
			{{ answer.content }}
		</div>
		
		{% load all_tags %}
		<div class="user">
			<div class="time-asked">
				asked {% format_time answer.created_at %}
			</div>
			
			{{ answer.author.name }}
		</div>
	</div>
</div>	

{% endfor %}

<div id="your_answer">
	<h2>Your Answer</h2>
</div>

<div class="question-form">
<form action="/answer_question" method="post">
	{% csrf_token %}
	<textarea id="answer_area" name="answer"></textarea>
	<input type="hidden" name="question" value="{{question.id}}" />
	<div>	
		<input type="submit" value="Submit Answer" />
	</div>
</form>
</div>

{% endblock %}