{% extends "base.html" %}

{% block content %}

<div id="question_title">
	{{ question.title }}
</div>

<div id="question_content">
	<div id="question_votes">
		{% with obj=question type='Q' %}
		{% include "votecell.html" %}
		{% endwith %}
	</div>
	<div class="text">
		{{ question.content }}
		
		<div class="user">
			{{ question.author.name }}
		</div>
	</div>
</div>

<div id="answer_count">
	{{ answers|length }} Answers
</div>

{% for answer in answers %}

<div class="answer">
	<div id="votes">
		{% with obj=answer  type='A' %}
		{% include "votecell.html" %}
		{% endwith %}
	</div>
	
	<div class="text">
		{{ answer.content }}
		
		<div class="user">
			{{ answer.author.name }}
		</div>
		
	</div>
</div>	

{% endfor %}

<hr/>

<div id="your_answer">
	Your Answer
</div>

<form action="/answer_question" method="post">
	{% csrf_token %}
	<textarea name="answer"></textarea>
	<input type="hidden" name="question" value="{{question.id}}" />
	<div>	
		<input type="submit" value="Submit Answer" />
	</div>
</form>


{% endblock %}