{% load vote_tags %}
<a 	class='vote-arrow up-arrow
	{% user_vote user obj type +1 %}' 
	href="#"
	data-type='{{type}}'
	data-action='+1'
	data-id='{{obj.id}}'>up vote</a>
<span class='vote-count'
	data-id='{{obj.id}}'
	data-type='{{type}}'>{{ obj.votes }}</span>
<a 	class='vote-arrow down-arrow
	{% user_vote user obj type -1 %}' 
	href='#'
	data-type='{{type}}'
	data-action='-1'
	data-id='{{obj.id}}'>down vote</a>
	
{% if type == 'A' and user == question.author %}

<a 	class='answer-select {% if obj.selected %}chosen-answer{% endif %}' href='#' data-id="{{obj.id}}" data-question="{{question.id}}"
>
	accept answer
</a>

{% endif %}
