<a 	class='vote-arrow vote-up-off' 
	href="#"
	data-type='{{type}}'
	data-action='+1'
	data-id='{{obj.id}}'>up vote</a>
<span class='vote-count'
	data-id='{{obj.id}}'
	data-type='{{type}}'>{{ obj.votes }}</span>
<a 	class='vote-arrow vote-down-off' 
	href='#'
	data-type='{{type}}'
	data-action='-1'
	data-id='{{obj.id}}'>down vote</a>
	
{% if type == 'A' and user == question.author %}

<a 	class='answer-select' href='#'
{% if obj.selected %}
style="display:none"
{% endif %}
>
	accept answer
</a>

{% endif %}
