/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: Arial;
	font-size: 13px;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Overall Style */
h3, h3 a{
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px;
}

h2{
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px; 
}

h1{
    font-size: 23px;
    font-weight: bold;
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    border-bottom: 1px solid #555;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

a{
    color: #07C;
    text-decoration: none;
    cursor: pointer;
}

.cp{
    cursor: pointer;
}

.clear{
    clear: both;
}

input[type="text"], input[type="password"]{
    color: #888;
    padding: 3px;
    outline: none;
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-size: 14px;
    width: 200px;
}

#searchbox{
    float:right;
}

#searchbox input{
    font-size: 12px;
    padding: 2px;
    width: 155px;
}


/* Login Page */
#login_form, #create_form{
    margin-top: 15px;
}
.main-title{
    margin-top: 10px;
}

.checkbox-option{
    margin-right: 8px;
}

#login_form label, #create_form label{
    width: 120px;
    display: inline-block;
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-size: 13px;
}

.classes-area{
    margin-top: 5px;
}

/* Base Overview */

#content{
    width: 960px;
    margin: auto;
}

#header{
    width: 960px;
    margin: auto;
    overflow: hidden;
}

#menu{
    float: left;
    padding: 11px 0px 20px 5px;
    margin-top: 10px;
}

#logo a{
    float: left;
    width: 250px;
    margin-top: 49px;
    font-size: 38px;
    font-weight: bold;
    display: block;
}

#user{
    float: right;
    padding: 5px;
    font-weight: bold;
}

#user span.top{
    float: right;
    margin-right: 6px;
    margin-top: 5px;
}

/* Menu */
#menu li.link{
    background: #777;
    margin-right: 7px;
}

#menu li{
    float: left;  
    display: block;  
}

#menu li.searchli input{
    padding: 3px;
    margin: 0;
    height: 18px;
    width: 170px;
}

#menu a{
    padding: 6px 12px 6px 12px;
    color: white;
    display: block;
    font-weight: bold;
    font-size: 16px;
}

/* Index List */
#all_questions{
    border-top: 1px solid black;
    float: left;
}

h3.moderate{
    padding: 10px 0;
    text-decoration: underline;
}

.question-item{
    border-bottom: 1px dotted #999;
    overflow: hidden;
    padding: 11px 0px;
    width: 730px;
}

.question-item .question-info .counts{
    font-size: 190%;
    height: 25px;
    font-weight: bold;
}

.question-item.highlight{
    background-color: #FFEFC6;
}

.question-info .votes{
    float: left;
    padding: 5px;
    color: #555;
    text-align: center;
    width: 38px;
    height: 38px;
}

.question-info .answers{
    float: left;
    padding: 5px;
    width: 48px;
    height: 38px;
    text-align: center;
}

.answered{
    background: #75845C;
    color: white;
}

.answered-accepted{
    background: #75845C;
    color: #E1E818;
}

.unanswered{
    color: #9A4444;
    background: transparent;
}

.question-info .views{
    float: left;
    padding: 5px;
    width: 40px;
    height: 38px;
    color: #999;
    text-align: center;
    margin; 0 7px 0 0;
}

.question-summary{
    width: 500px;
    float: left;
}

.question-summary h3 a{
    font-weight: bold;
}

.question-locked{
    float: left;
    margin-left: 22px;
    margin-top: 10px;
    width: 20px;
}

.question-locked img{
    width: 20px;
}

/* Bottom Right Corner of Index Question List */
.started{
    float: right;
    color: #999;
    padding-top: 4px;
}

.started .question-time{
    font-weight: bold;
}



/* Tags */
.question-summary .tags{
    float: left;
    line-height: 18px;
    padding-top: 5px;
}

a.tag{
    color: #3E6D8E;
    background-color: #E0EAF1;
    padding: 3px 4px 3px 4px;
    margin: 2px 2px 2px 0;
}
a.tag:hover{
    background-color:#3E6D8E;
    color:#E0EAF1;
}


/* Question Page */

#question_top{
    overflow: hidden;
}

.box-points{
    font-weight: bold;
}

.answer{
    overflow: hidden;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}

#question_title h1{
    font-size: 23px;
    font-weight: bold;
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    border-bottom: 1px solid #555;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

#question_content .votes, .answer .votes{
    float: left;
    width: 60px;
    text-align: center;
}

#question_content{
    overflow: hidden;
}

#question_content .text,
.answer .text{
    font-size: 14px;
    line-height: 18px;
    width: 660px;
    float: left;
    border-bottom: dotted 1px #AAA;
    padding-bottom: 15px;
}

.text .main{
    word-wrap: break-word;
}

#question_content .user,
.answer .user{
    float: right;
    background: #E0EAF1;
    padding: 10px;
}

#question_content .user .time-asked,
.answer .user .time-asked{
    font-weight: bold;
}

#question_content .tags{
    margin-top: 10px;
}

/* Answer textarea */
#answer_area, #question_textarea{
    width: 660px;
    height: 200px;
}

textarea{
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-size: 14px;
    padding: 4px;    
}

.question-form input, .ask-form-submit input, 
.login-submit input[type="submit"], .create-submit input{
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    padding: 2px;
    background-color: #ccc;
    width: 150px;
    height: 30px;
    font-size: 14px;
    margin-top: 4px;
}

#your_answer{
    margin-top: 15px;
}


/* Ask Page */
.form-label{
    font-size: 15px;
    font-weight: bold;
    margin-right: 14px;
}

#question_area, #question_tags_area, #question_class_area{
    margin-top: 10px;
}

#question_class_area{
    overflow: hidden;
}

#question_class_area .form-label{ 
    float: left;
}

#question_class_area select{
    margin-bottom: 5px;
    width: 300px;
    height: 40px;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid black;
}
.class-options{
    float: left;
}

a.follow{
    float: right;
}

#question_title{
    float: left;
    width: 660px;
    color: #888;
    padding: 3px;
    outline: none;
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    
}

#question_title_form{
    width: 610px;
    color: #888;
    padding: 3px;
    outline: none;
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-size: 14px;
}


#question_tags{
    width: 660px;
    color: #888;
    padding: 3px;
    outline: none;
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-size: 14px;   
}


a.answer-select, span.answer-select{
    background-image: url(/static/images/sprites.png);  
    text-indent: -9999px;  
    height: 34px;
    width: 39px;
    display: block;
    margin: auto;
    background-position: 0px -290px;
}

a.answer-select.chosen-answer, span.answer-select.chosen-answer{
    background-position: 0px -238px;
}

/* Ask Select Hut */
.hut-select, .hut-select a{
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}
.hut-select .private{
    color: red;
}

.answer-title{
    font-size: 23px;
    font-weight: bold;
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    border-bottom: 1px solid #555;
    margin-bottom: 20px;
    padding-bottom: 5px;
}
.answer-title .hutname{
    color: #07C;
    font-size: 23px;
}
.answer-title .private{
    color: red;
}

/* Voting Arrows */
a.vote-arrow{
    background-image: url(/static/images/sprites.png);  
    text-indent: -9999px;  
    height: 34px;
    width: 39px;
    display: block;
    margin: auto;
}

a.vote-arrow.up-arrow{
    background-position: 0px -38px;
}

a.vote-arrow.up-arrow.voted{
    background-position: 0px 0px;
}

a.vote-arrow.down-arrow{
    background-position: 0px -71px;
}

a.vote-arrow.down-arrow.voted{
    background-position: 0px -100px;
}

.vote-count{
    font-size: 31px;
    font-weight: bold;
    color: #808185;
}

/* Sort Tabs on Index */
#tabs_container{
    overflow: hidden;
    width: 730px;
}

#tabs_container h2{
    float: left;
}

#sort_tabs{
    float: right;
}

#class_tabs{
    float: left;
}

#sort_tabs a, #class_tabs a{
    width: 63px;
    padding: 8px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: inline-block;
    font-size: 16px;
    text-align: center;
}

#sort_tabs a.selected, #class_tabs a.selected{
    font-weight: bold;
    color: white;
    background-color: #777;
}

#sort_tabs a:hover, #class_tabs a:hover{
    background-color: #eee;
    color:#3E6D8E;
    
}

/* Time Tabs on Index */
#sidebar{
    float: right;
    width: 200px;
}
#time_tabs{
    width: 100px;
}
#time_tabs a{
    display: block;
    padding: 10px;
}
#time_tabs a.selected{
    background-color: #777;
    color: white;
    font-weight: bold;
}
#time_tabs a:hover{
    background-color: #eee;
    color: #07C;
}

/* Message Classes */

/* Success, info, notice and error/alert boxes
-------------------------------------------------------------- */
.error,
.alert,
.notice,
.success,
.info                   { padding: 0.8em; margin-bottom: 1em; margin-top: 1em; border: 2px solid #ddd; }

.error, .alert { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.notice     { background: #fff6bf; color: #514721; border-color: #ffd324; }
.success    { background: #e6efc2; color: #264409; border-color: #c6d880; font-weight: bold; }
.info                   { background: #d5edf8; color: #205791; border-color: #92cae4; }
.error a, .alert a { color: #8a1f11; font-weight: bold; }
.notice a   { color: #514721; font-weight: bold; }
.success a  { color: #264409; font-weight: bold; }
.info a                 { color: #205791; font-weight: bold; }




/* Moderator page */

.question-moderate{
    float: left;
    width: 100px;
    height: 80px;
}

.question-moderate a{
    width: 100px;
    display: block;
    padding: 10px;
}

.question-moderate .approve{
    color: green;
}

.question-moderate .reject{
    color: red;
}

.question-summary .question-content{
    word-wrap: break-word;
    float: left;
    width: 560px;
    padding: 10px 0;
}

.original-question a{
    font-weight: bold;
}



/* Showdown styled */
.showdown em{
    font-style: italic;
}

.showdown strong{
    font-weight: bold;
}

.showdown p{
    margin-bottom: 15px;
}

.showdown pre{
    background-color: #EEE;
    font-size: 12px;
    padding: 7px;
    border: 1px solid #DEDEDE;
    margin: 10px 0;
    font-weight: bold;
    color: #444;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0664062) 0px 1px 2px inset;
}

.showdown ol{
    list-style-type: decimal;
    margin-left: 18px;
}

.showdown p code{
    background-color: #EEE;
    font-size: 12px;
    padding: 2px;
    border: 1px solid #DEDEDE;
    margin: 10px 0;
    font-weight: bold;
    color: #444;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0664062) 0px 1px 2px inset;
}

pre, code{
    font: normal normal normal 12px/normal 'Bitstream Vera Sans Mono', Courier, monospace;    
}

.spacer{
    height: 30px;
}


/* Live Preview */
.preview-title{
    margin-top: 20px;
}

#live_preview{
    border: 3px dashed #ccc;
    padding: 10px;
    min-height: 10px;
    margin-bottom: 250px;
}


/* All Huts List */
.hut a{
    font-size: 20px;
}

.hut{
    margin-top: 15px;
}

a.hut-status{
    font-size: 12px;
    margin-left: 15px;
}


/* FAQ Page */
.page-title{
    font-size: 30px;
    font-weight: bold;
}
.faq-question{
    font-family: Trebuchet MS;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0px;
}

.faq-answer, .faq-tabbed, .faq-answer a{
    font-family: Arial;
    font-size: 15px;
    line-height: 18px;
}

.faq-tabbed{
    margin-left: 40px;
    padding: 5px;
}

/* Users */
.user{
    font-size: 15px;
    padding: 5px;
}
.user .points{
    font-weight: bold;
}
h2.user-link{
    margin-left: 10px;
}
h2.subscribe-link{
    margin-left: 8px;
}


/* Comments */
.comment-list{
    width: 628px;
    margin-left: 100px;
    margin-top: 9px;
    float: left;
}

.comment{
    border-bottom: 1px dashed #D2D9E7;
    padding: 5px 0 2px 0;
    line-height: 17px;
}

.comment:hover{
    background-color: #FAFAFA;
}

.comment-author{
    font-weight: bold;
    color: #3B5998;
}

.comment-time{
    color: gray;
    font-size: 11px;
    margin-top: 4px;
    margin-left: 20px;
}

.comment-textarea{
    width: 618px;
    margin: 10px 0 5px 0;
}

.comment-list input[type=submit]{
    float: right;
}

/* Survey */
#survey{
    height: 30px;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid black;
}

#survey a{
    font-size: 27px;   
    font-weight: bold;
    cursor: pointer; 
}


.delete{
    float: right;
}

.question-hint{
    padding: 6px;
    font-style: italic;
}
