/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: Arial;
	font-size: 13px;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Overall Style */
h3, h3 a{
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px;
}

h2{
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px; 
}

h1{
    font-size: 23px;
    font-weight: bold;
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    border-bottom: 1px solid #555;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

a{
    color: #07C;
    text-decoration: none;
    cursor: pointer;
}

.cp{
    cursor: pointer;
}

.clear{
    clear: both;
}

input[type="text"], input[type="password"]{
    color: #888;
    padding: 3px;
    outline: none;
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-size: 14px;
    width: 200px;
}


/* Login Page */
#login_form, #create_form{
    margin-top: 15px;
}
.main-title{
    margin-top: 10px;
}

.checkbox-option{
    margin-right: 8px;
}

#login_form label, #create_form label{
    width: 120px;
    display: inline-block;
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-size: 13px;
}

.classes-area{
    margin-top: 5px;
}

/* Base Overview */

#content{
    width: 900px;
    margin: auto;
}

#header{
    width: 900px;
    margin: auto;
    overflow: hidden;
}

#menu{
/*    width: 705px;*/
    float: left;
    padding: 34px 0px 20px 5px;
    margin-top: 10px;
}

#logo a{
    float: left;
    width: 250px;
    margin-top: 38px;
    font-size: 38px;
    font-weight: bold;
    display: block;
}

#user{
    float: right;
    padding: 5px;
    font-weight: bold;
}

/* Menu */
#menu li{
    background: #777;
    display: block;
    float: left;
    margin-right: 7px;
}

#menu a{
    padding: 6px 12px 6px 12px;
    color: white;
    display: block;
    font-weight: bold;
    font-size: 16px;
}

/* Index List */

.question-item{
    border-bottom: 1px dotted #999;
    overflow: hidden;
    padding: 11px 0px;
    width: 730px;
}

.question-item .question-info .counts{
    font-size: 190%;
    height: 25px;
    font-weight: bold;
}

.question-info .votes{
    float: left;
    padding: 5px;
    color: #555;
    text-align: center;
    width: 38px;
    height: 38px;
}

.question-info .answers{
    float: left;
    padding: 5px;
    width: 48px;
    height: 38px;
    text-align: center;
}

.answered{
    background: #75845C;
    color: white;
}

.answered-accepted{
    background: #75845C;
    color: #E1E818;
}

.unanswered{
    color: #9A4444;
    background: transparent;
}

.question-info .views{
    float: left;
    padding: 5px;
    width: 40px;
    height: 38px;
    color: #999;
    text-align: center;
    margin; 0 7px 0 0;
}


.question-summary h3 a{
    font-weight: bold;
}

/* Bottom Right Corner of Index Question List */
.started{
    float: right;
    color: #999;
    padding-top: 4px;
}

.started .question-time{
    font-weight: bold;
}

/* Tags */
.question-summary .tags{
    float: left;
    line-height: 18px;
    padding-top: 5px;
}

a.tag{
    color: #3E6D8E;
    background-color: #E0EAF1;
    padding: 3px 4px 3px 4px;
    margin: 2px 2px 2px 0;
}
a.tag:hover{
    background-color:#3E6D8E;
    color:#E0EAF1;
}


/* Question Page */

.answer{
    overflow: hidden;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}

#question_title h1{
    font-size: 23px;
    font-weight: bold;
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    border-bottom: 1px solid #555;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

#question_content .votes, .answer .votes{
    float: left;
    width: 30px;
    text-align: center;
}

#question_content{
    overflow: hidden;
}

#question_content .text,
.answer .text{
    font-size: 14px;
    line-height: 18px;
    width: 660px;
    float: left;
}

#question_content .user,
.answer .user{
    float: right;
    background: #E0EAF1;
    padding: 10px;
}

#question_content .user .time-asked,
.answer .user .time-asked{
    font-weight: bold;
}

#question_content .tags{
    margin-top: 10px;
}

/* Answer textarea */
#answer_area, #question_textarea{
    width: 660px;
    height: 200px;
}

textarea{
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    font-size: 14px;
    padding: 4px;    
}

.question-form input, .ask-form-submit input, 
.login-submit input[type="submit"], .create-submit input{
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    padding: 2px;
    background-color: #ccc;
    width: 150px;
    height: 30px;
    font-size: 14px;
    margin-top: 4px;
}

#your_answer{
    margin-top: 15px;
}


/* Ask Page */
.form-label{
    font-size: 15px;
    font-weight: bold;
    margin-right: 14px;
}

#question_area, #question_tags_area{
    margin-top: 10px;
}

#question_title{
    width: 610px;
    color: #888;
    padding: 3px;
    outline: none;
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-size: 14px;
}

#question_tags{
    width: 660px;
    color: #888;
    padding: 3px;
    outline: none;
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-size: 14px;   
}